/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 1rem;
}

.productDetails {
  padding: 1rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

main {
  min-height: 85vh;
}
.Container-F {
  background: #404040;
  color: white;
  text-align: center;
  padding: 3;
}
.marginLeft {
  margin-left: auto;
}
.HomeProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  width: 339px;
  border-width: 1px;
  border-radius: 10px;
  border-color: #404040;
  border-style: solid;
  margin: 1rem;
  padding: 1rem;
}
.product img {
  border-radius: 10px;
  width: 300px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.product-title {
  text-align: center;
  color: Black;
  font-weight: bold;
  font-family: Papyrus, Fantasy;
  font-size: 24px;
}
.product-Btn {
  text-align: center;
  margin: 10px;
}
.HomeBtn {
  text-align: center;
}
.product-price {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.Rating {
  text-align: center;
}
.AddButton {
  width: 100%;
}
@media (max-width: 1232px) {
  .HomeProducts {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* cart Item */
.cartItem {
  width: 100%;
  padding: 1rem;
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
  gap: 8px;
  border: 2px;
  background: white;
  place-items: center;
}

.cartItem_name {
  text-decoration: none;
  color: black;
}
.cartItem_name:hover {
  color: pink;
}
.cartItem_select {
  padding: 10px 17px;
}
.cartItem_deleteBtn {
  padding: 10px 17px;
  color: rgb(222, 25, 25);
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.cartItem_deleteBtn:hover,
.cartItem_deleteBtn:focus,
.cartItem_deleteBtn:active {
  background: black;
  transform: scale(1.2);
}
/* @media (max-width: 700px) {
  .cartItem_name {
    font-size: 0.8rem;
  }
}
.cartItem_select,
.cartItem_deleteBtn {
  padding: 8px 13px;
}
.cartItem_price {
  font-size: 0.8rem;
}
@media (max-width: 500px) {
  .cartItem_name {
    font-size: 0.8rem;
  }
}
.cartItem_select,
.cartItem_deleteBtn {
  padding: 5px 8px;
}
.cartItem_price {
  font-size: 0.6rem;
} */

/* cart */
.cart {
  display: flex;
  max-width: 1232px;
  margin: 2rem auto;
}
.cart h2 {
  margin-bottom: 1rem;
}
.cart-Left {
  flex: 0.7;
  margin-right: 1rem;
  padding: 1rem;
}
.cart-right {
  flex: 0.3;
  background: white;
  height: fit-content;
}
.cart-right div {
  border-bottom: 1px solid rgba(0, 0, 0, 2);
  padding: 1rem;
}
a.btn.btn-light.my-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
  border-color: #1c1d1e;
}
.loginCard {
  margin: auto;
  margin-top: 50px;
  width: 50%;
  border: 3px solid rgb(49, 57, 49);
  padding: 10px;
  border-radius: 10px;
}
.registerCard {
  margin: auto;
  margin-top: 50px;
  width: 50%;
  border: 3px solid rgb(49, 57, 49);
  padding: 10px;
  border-radius: 10px;
}

.detailsIMG {
  border-radius: 10px;
  width: 300px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Modal.Title {
  text-decoration: "underline overline";
  text-align: "center";
}
